version: '3.8'

services:
  node-api:
    build: ./server
    ports:
      - "5000:5000"
    networks:
      - app-net

  react-app:
    build: ./client
    depends_on:
      - node-api
    networks:
      - app-net
    deploy:
      replicas: 3
      restart_policy:
        condition: on-failure

  nginx:
    image: nginx:latest
    ports:
      - "3000:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - react-app
    networks:
      - app-net

networks:
  app-net:
